<?xml version="1.0"?>
<!--
/**
 * @package    Ajlan
 * @author     Namal Dissanayake
 * @copyright  2019 Namal Dissanayake
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ajlan_CustomCatalog::products" title="Custom Catalog" translate="title" module="Ajlan_CustomCatalog" sortOrder="30" parent="Magento_Catalog::inventory" action="custom_catalog/product/" resource="Ajlan_CustomCatalog::custom_catalog"/>
    </menu>
</config>
